#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button{
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid var(--gray);
  background-color: transparent;
  color: var(--accent);
  outline: none;
  transition: all ease-in-out 0.5s;
  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.error{
  padding: 100px 50px;
  color: var(--red);
  font-size: 2rem;
}

